.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
  border: 2px solid red;

}

.app-name {
  color: blue;
  padding: 0 30px;
  border: 1px solid black;
}

.timer-section {
  padding: 0 30px;
  border: 1px solid blue;
  float: right;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .app-name {
    margin-bottom: 30px;
  }
}